/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}



/* Header styles */

header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 2em auto 3em;
  border-bottom: solid 2px;
}

.header-img {
  width: 100%
}

.header-logo {
  width: 58%;
}

.header-controls {
  width: 29%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-button {
  width: 30%;
  display: flex;
  margin-right: 20px;
}

.user-icon {
  background-color: #FEC001;
  border-radius: 50%;
  width: 100%;
}

.search-bar {
  width: 70%;
  font-style: italic;
  font-size: 1.35em;
  text-align: center;
  border: solid 1px;
  padding: 3px;
}

/* Recipe list */
.recipe-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}


/* Recipe cards */

.recipe-card-small {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px auto;
  border: solid 2px;
}

h3 {
  background-color: #FEC001;
  font-size: 2.25em;
  padding: 10px 0px 10px 10px;
}

.small-card-bottom {
  background-color: white;
  display: flex;
  border-top: solid black 2px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.fav-button-small {
  width: 8%;
  margin: 10px;
}

.to-cook-button-small {
  width: 8%;
  margin: 10px;
}

.tag-list-small {
  font-size: 1.75em;
  align-self: flex-end;
  padding: 4px;
  margin-bottom: 28px;
}

/* UTILITY */
.hidden {
  display: none;
}

/* font-family: 'Raleway', sans-serif; */

/*
Colors
Yellow: FEC001

 */

/*
Size
Display
Flex rules
Color
Font
Text
Margin
Border
Padding
Other
 */
